.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.grid-container {
    display:flex;
    flex-direction: column;
    margin: 4px;
    align-items: stretch;
    justify-content: center;
    width:500px;
    height: 500px;
    border: 2px solid black;
    object-fit: fill;

}

.btn-container {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    background-color: blue;
    color: white;
    font-weight: 900;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    margin: 24px;
    padding: 16px;
    flex: 1 1 auto;
}
.row {
    flex-direction: row;
    
    
}
.row, .column{
    display:flex;
    flex:1 1 auto;
}

.column {
    min-width: 3px;
    min-height: 3px;
    
    border: 1px dotted grey;

}